{%  extends 'input/main.html' %}

{% block content %}

    <div class="col-md-5">
        <div class="col-md-7">
            <h5>Ye le result :</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Maximum Current</th>
                        <th>10 Ampere</th>
                    </tr>
        
                    <tr>
                        <th>Service Time</th>
                        <th>30 minutes</th>
                    </tr>
        
                    <tr>
                        <th>Number of cells given</th>
                        <th>{{ no_of_cells }}</th>
                    </tr> 
        
                    <tr>
                        <th>Voltage</th>
                        <th>{{ voltage }}</th>
                    </tr> 
        
                    <tr>
                        <th>C Count</th>
                        <th>{{ c_count }}</th>
                    </tr> 
        
                    <tr>
                        <th>mAh</th>
                        <th>{{ mAh }}</th>
                    </tr>  
                </table>
            </div>
        </div>
    </div>

{% endblock %}