{%  extends 'input/main.html' %}

{% block content %}

    <style> 
        button a{
            color: aliceblue;
        }
        .current{ 
            position:static; 
            padding-left: 37%;  
        }

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 20px;
            padding: 16px;
            width: 250px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        .button:hover span {
            padding-right: 25px;
        }  
        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

    </style>  

        <div class="container">
            <div class="row py-5">
            <div class="current">
                <div class="col-12 p-2">
                    <button class="btn"><a href="{% url 'maxcurrent' %}" class="button" ><span>Maximum Current</span></a></button>
                </div>
                <div class="col-lg-12 p-2">
                    <button class="btn"><a href="{% url 'chargetime' %}" class="button" ><span>Charging Time</span></a></button>
                </div>
                <div class="col-lg-12 p-2"><button class="btn"><a href="{% url 'batterychoose' %}" class="button" ><span>Which battery to choose?</span></a></button>
                </div>
                <div class="col-lg-12 p-2"><button class="btn"><a href="{% url 'contcurr' %}" class="button" ><span>Continuous Current</span></a></button>
                </div>
                <div class="col-lg-12 p-2">
                    <button class="btn"><a href="{% url 'burstcurr' %}" class="button" ><span>Burst Time</span></a></button>
                </div>
                <div class="col-lg-12 p-2"><button class="btn"><a href="{% url 'dischargetime' %}" class="button" ><span>Discharge Time</span></a></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}