{%  extends 'input/main.html' %}

{% block content %}

    <div class="col-md-5">
        <div class="col-md-7">
            <h5>Charging times required</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Battery should be charged at ideal current</th>
                        <th>{{ idl_curr }}</th>
                    </tr>
                    <tr>
                        <th>If charged at {{ idl_curr }}</th>
                        <th>60  minutes</th>
                    </tr>
                    <tr>
                        <th>If charged at {{ idl_curr }} X 2</th>
                        <th>60/2 minutes</th>
                    </tr>
                    <tr>
                        <th>If charged at {{ idl_curr }} X 3</th>
                        <th>60/4 minutes</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}