{%  extends 'input/main.html' %}

{% block content %}

    <style>
        .current{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <br />
    <div class="row p-5 ml-5">
        <div class="card current text-dark bg-light p-5" style="max-width: 30rem">
            <table class="table table-sm">
                <tr>
                    <th>Discharge Time</th>
                    <th style="padding-right: 70px"></th>
                    <th>{{ dis_curr }} minutes</th>
                </tr>
            </table>
            <p>Using a pack with a higher C rating than you require will leave some room for safety, and extend the life of your lithium polymer battery. </p>
        </div>
    </div>
   
{% endblock %}