{%  extends 'input/main.html' %}

{% block content %}

    <style>
        .current{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <br />
    <div class="row p-5 ml-5">
        <div class="card current text-dark bg-light p-5" style="max-width: 30rem">
            <table class="table table-sm">
                <tr>
                    <th>Continuous Current</th>
                    <th style="padding-right: 70px"></th>
                    <th>C rating you require is {{ c_rating }} C</th>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}