{%  extends 'input/main.html' %}

{% block content %}

    <style>
        .current{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <br />
    <div class="row p-5 ml-5">
        <div class="card current text-dark bg-light p-5" style="max-width: 30rem">
            <table class="table table-sm">
                <tr>
                    <th>Battery should be charged at ideal current</th>
                    <th style="padding-right: 70px"></th>
                    <th>{{ idl_curr }} Ampere</th>
                </tr>
                <tr>
                    <th>If charged at {{ idl_curr }}</th>
                    <th style="padding-right: 70px"></th>
                    <th>60  minutes</th>
                </tr>
                <tr>
                    <th>If charged at {{ idl_curr_2 }}</th>
                    <th style="padding-right: 70px"></th>
                    <th>30 minutes</th>
                </tr>
                <tr>
                    <th>If charged at {{ idl_curr_3 }}</th>
                    <th style="padding-right: 70px"></th>
                    <th>15 minutes</th>
                </tr>
            </table>
        </div>
    </div>
   
{% endblock %}